body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  background-color: #0a0d1a;
}
.preview-container {
  background-color: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 80%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 3.1rem;
  border-radius: 8px;
}
.preview-container img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}
.img-container {
  max-width: 100%;
  position: relative;
  border-radius: 8px 8px 0 0;
}
.img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 98%;
  /* Something needs to be adjusted here so the overlay stays on the image appropriately. */
  background-color: hsla(277, 64%, 61%, 0.509);
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
.text-container {
  text-align: center;
  padding: 1.5rem;
  box-sizing: border-box;
}
.text-container h2 {
  color: hsl(0, 0%, 100%);
  margin-top: 0.6rem;
  font-size: 6.5vw;
  margin-bottom: 0.85rem;
}
.highlight-text {
  color: hsl(277, 64%, 61%);
}
.text-container h3 {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0rem;
}
.spacer {
  word-spacing: 11px;
}
.stats-container {
  text-align: center;
  padding-bottom: 1.6rem;
}
.stats-container h2 {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 0rem;
  margin-bottom: 0.4rem;
}
.stats-container p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 0rem;
  text-transform: uppercase;
  font-size: 3.2vw;
  font-family: "Lexend Deca", sans-serif;
}

.single-stat-2 {
  margin-top: 1.7rem;
}
.single-stat-2 p {
  margin-bottom: 1.7rem;
}

footer {
  margin-top: 3rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

/* Larger Screens */

@media only screen and (min-width: 660px) {
  .preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-width: 86%;
    margin: 0 auto; /* Center the grid container */
    margin-top: 3.1rem;
    border-radius: 8px;
  }
  .content-container {
    display: grid;
    grid-column: 1 / 2;
    place-self: center;
  }
  .img-container {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    place-self: center;
    border-radius: 0 8px 8px 0;
    height: 100%;
  }
  .img-container::before {
    height: 100%;
    border-radius: 0 8px 8px 0;
  }
  .preview-container img {
    border-radius: 0 8px 8px 0;
    height: 100%;
  }
  .text-container {
    text-align: left;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  .text-container h2 {
    margin-top: 0.6rem;
    font-size: 3vw;
    margin-bottom: 0.85rem;
  }
  .text-container h3 {
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 0rem;
  }
  .spacer {
    word-spacing: 0px;
  }
  .stats-container {
    text-align: left;
    padding-bottom: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stats-container h2 {
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 0rem;
    margin-bottom: 0.4rem;
  }
  .stats-container p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 0rem;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: "Lexend Deca", sans-serif;
  }

  .single-stat-2 {
    margin-top: 1.7rem;
  }
  .single-stat-2 p {
    margin-bottom: 1.7rem;
  }
}
